<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SingleRiverLand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,86}</string>
                <key>spriteSourceSize</key>
                <string>{97,86}</string>
                <key>textureRect</key>
                <string>{{299,75},{97,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,259}</string>
                <key>spriteSourceSize</key>
                <string>{301,259}</string>
                <key>textureRect</key>
                <string>{{251,1179},{301,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,154}</string>
                <key>spriteSourceSize</key>
                <string>{252,154}</string>
                <key>textureRect</key>
                <string>{{0,563},{252,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,230}</string>
                <key>spriteSourceSize</key>
                <string>{242,230}</string>
                <key>textureRect</key>
                <string>{{601,935},{242,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{99,110}</string>
                <key>textureRect</key>
                <string>{{797,168},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{492,168},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,109}</string>
                <key>spriteSourceSize</key>
                <string>{103,109}</string>
                <key>textureRect</key>
                <string>{{694,168},{103,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{99,168},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{99,110}</string>
                <key>textureRect</key>
                <string>{{0,278},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{0,168},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,150}</string>
                <key>spriteSourceSize</key>
                <string>{197,150}</string>
                <key>textureRect</key>
                <string>{{359,411},{197,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,78}</string>
                <key>spriteSourceSize</key>
                <string>{97,78}</string>
                <key>textureRect</key>
                <string>{{0,75},{97,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{198,168},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,115}</string>
                <key>spriteSourceSize</key>
                <string>{149,115}</string>
                <key>textureRect</key>
                <string>{{99,278},{149,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,184}</string>
                <key>spriteSourceSize</key>
                <string>{252,184}</string>
                <key>textureRect</key>
                <string>{{0,737},{252,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,187}</string>
                <key>spriteSourceSize</key>
                <string>{244,187}</string>
                <key>textureRect</key>
                <string>{{252,737},{244,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,137}</string>
                <key>spriteSourceSize</key>
                <string>{194,137}</string>
                <key>textureRect</key>
                <string>{{165,411},{194,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,152}</string>
                <key>spriteSourceSize</key>
                <string>{240,152}</string>
                <key>textureRect</key>
                <string>{{556,411},{240,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,133}</string>
                <key>spriteSourceSize</key>
                <string>{197,133}</string>
                <key>textureRect</key>
                <string>{{648,278},{197,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,89}</string>
                <key>spriteSourceSize</key>
                <string>{99,89}</string>
                <key>textureRect</key>
                <string>{{547,75},{99,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{786,0},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,51}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{99,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{885,0},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,51}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{99,0},{99,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,155}</string>
                <key>spriteSourceSize</key>
                <string>{241,155}</string>
                <key>textureRect</key>
                <string>{{252,563},{241,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,195}</string>
                <key>spriteSourceSize</key>
                <string>{253,195}</string>
                <key>textureRect</key>
                <string>{{496,737},{253,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,157}</string>
                <key>spriteSourceSize</key>
                <string>{198,157}</string>
                <key>textureRect</key>
                <string>{{493,563},{198,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,174}</string>
                <key>spriteSourceSize</key>
                <string>{244,174}</string>
                <key>textureRect</key>
                <string>{{691,563},{244,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,72}</string>
                <key>spriteSourceSize</key>
                <string>{97,72}</string>
                <key>textureRect</key>
                <string>{{689,0},{97,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,61}</string>
                <key>spriteSourceSize</key>
                <string>{97,61}</string>
                <key>textureRect</key>
                <string>{{592,0},{97,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,105}</string>
                <key>spriteSourceSize</key>
                <string>{195,105}</string>
                <key>textureRect</key>
                <string>{{297,168},{195,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{297,0},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,51}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{198,0},{99,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,88}</string>
                <key>spriteSourceSize</key>
                <string>{151,88}</string>
                <key>textureRect</key>
                <string>{{396,75},{151,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,59}</string>
                <key>spriteSourceSize</key>
                <string>{97,59}</string>
                <key>textureRect</key>
                <string>{{495,0},{97,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,54}</string>
                <key>spriteSourceSize</key>
                <string>{99,54}</string>
                <key>textureRect</key>
                <string>{{396,0},{99,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,81}</string>
                <key>spriteSourceSize</key>
                <string>{103,81}</string>
                <key>textureRect</key>
                <string>{{196,75},{103,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,90}</string>
                <key>spriteSourceSize</key>
                <string>{99,90}</string>
                <key>textureRect</key>
                <string>{{646,75},{99,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,78}</string>
                <key>spriteSourceSize</key>
                <string>{99,78}</string>
                <key>textureRect</key>
                <string>{{97,75},{99,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,198}</string>
                <key>spriteSourceSize</key>
                <string>{243,198}</string>
                <key>textureRect</key>
                <string>{{749,737},{243,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,133}</string>
                <key>spriteSourceSize</key>
                <string>{165,133}</string>
                <key>textureRect</key>
                <string>{{0,411},{165,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,214}</string>
                <key>spriteSourceSize</key>
                <string>{299,214}</string>
                <key>textureRect</key>
                <string>{{302,935},{299,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,91}</string>
                <key>spriteSourceSize</key>
                <string>{148,91}</string>
                <key>textureRect</key>
                <string>{{745,75},{148,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,244}</string>
                <key>spriteSourceSize</key>
                <string>{125,244}</string>
                <key>textureRect</key>
                <string>{{843,935},{125,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,258}</string>
                <key>spriteSourceSize</key>
                <string>{251,258}</string>
                <key>textureRect</key>
                <string>{{0,1179},{251,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,123}</string>
                <key>spriteSourceSize</key>
                <string>{200,123}</string>
                <key>textureRect</key>
                <string>{{248,278},{200,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,107}</string>
                <key>spriteSourceSize</key>
                <string>{99,107}</string>
                <key>textureRect</key>
                <string>{{595,168},{99,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,212}</string>
                <key>spriteSourceSize</key>
                <string>{302,212}</string>
                <key>textureRect</key>
                <string>{{0,935},{302,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,283}</string>
                <key>spriteSourceSize</key>
                <string>{186,283}</string>
                <key>textureRect</key>
                <string>{{552,1179},{186,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{448,278},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,93}</string>
                <key>spriteSourceSize</key>
                <string>{97,93}</string>
                <key>textureRect</key>
                <string>{{893,75},{97,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>landscape.png</string>
            <key>size</key>
            <string>{992,1462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12cad149e421055469cfffd947509dd3:3eedc5577f1a259d6ad177a7a992428b:de60c1e2b33876aa3ac5397972d2b266$</string>
            <key>textureFileName</key>
            <string>landscape.png</string>
        </dict>
    </dict>
</plist>
