<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SingleRiverLand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,86}</string>
                <key>spriteSourceSize</key>
                <string>{97,86}</string>
                <key>textureRect</key>
                <string>{{299,75},{97,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,259}</string>
                <key>spriteSourceSize</key>
                <string>{301,259}</string>
                <key>textureRect</key>
                <string>{{618,1143},{301,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,154}</string>
                <key>spriteSourceSize</key>
                <string>{252,154}</string>
                <key>textureRect</key>
                <string>{{0,560},{252,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,230}</string>
                <key>spriteSourceSize</key>
                <string>{242,230}</string>
                <key>textureRect</key>
                <string>{{0,1143},{242,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{99,110}</string>
                <key>textureRect</key>
                <string>{{0,275},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{589,166},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,109}</string>
                <key>spriteSourceSize</key>
                <string>{103,109}</string>
                <key>textureRect</key>
                <string>{{791,166},{103,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{196,166},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{99,110}</string>
                <key>textureRect</key>
                <string>{{99,275},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{97,166},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,150}</string>
                <key>spriteSourceSize</key>
                <string>{197,150}</string>
                <key>textureRect</key>
                <string>{{359,408},{197,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,78}</string>
                <key>spriteSourceSize</key>
                <string>{97,78}</string>
                <key>textureRect</key>
                <string>{{0,75},{97,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{295,166},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,115}</string>
                <key>spriteSourceSize</key>
                <string>{149,115}</string>
                <key>textureRect</key>
                <string>{{198,275},{149,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,184}</string>
                <key>spriteSourceSize</key>
                <string>{252,184}</string>
                <key>textureRect</key>
                <string>{{0,734},{252,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,187}</string>
                <key>spriteSourceSize</key>
                <string>{244,187}</string>
                <key>textureRect</key>
                <string>{{252,734},{244,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,137}</string>
                <key>spriteSourceSize</key>
                <string>{194,137}</string>
                <key>textureRect</key>
                <string>{{165,408},{194,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,152}</string>
                <key>spriteSourceSize</key>
                <string>{240,152}</string>
                <key>textureRect</key>
                <string>{{556,408},{240,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,133}</string>
                <key>spriteSourceSize</key>
                <string>{197,133}</string>
                <key>textureRect</key>
                <string>{{747,275},{197,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,89}</string>
                <key>spriteSourceSize</key>
                <string>{99,89}</string>
                <key>textureRect</key>
                <string>{{547,75},{99,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{786,0},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,51}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{99,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{885,0},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,51}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{99,0},{99,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,155}</string>
                <key>spriteSourceSize</key>
                <string>{241,155}</string>
                <key>textureRect</key>
                <string>{{252,560},{241,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,195}</string>
                <key>spriteSourceSize</key>
                <string>{253,195}</string>
                <key>textureRect</key>
                <string>{{682,734},{253,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,157}</string>
                <key>spriteSourceSize</key>
                <string>{198,157}</string>
                <key>textureRect</key>
                <string>{{493,560},{198,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,174}</string>
                <key>spriteSourceSize</key>
                <string>{244,174}</string>
                <key>textureRect</key>
                <string>{{691,560},{244,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,72}</string>
                <key>spriteSourceSize</key>
                <string>{97,72}</string>
                <key>textureRect</key>
                <string>{{689,0},{97,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,61}</string>
                <key>spriteSourceSize</key>
                <string>{97,61}</string>
                <key>textureRect</key>
                <string>{{592,0},{97,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,105}</string>
                <key>spriteSourceSize</key>
                <string>{195,105}</string>
                <key>textureRect</key>
                <string>{{394,166},{195,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,52}</string>
                <key>spriteSourceSize</key>
                <string>{99,52}</string>
                <key>textureRect</key>
                <string>{{297,0},{99,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,51}</string>
                <key>spriteSourceSize</key>
                <string>{99,51}</string>
                <key>textureRect</key>
                <string>{{198,0},{99,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,88}</string>
                <key>spriteSourceSize</key>
                <string>{151,88}</string>
                <key>textureRect</key>
                <string>{{396,75},{151,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,59}</string>
                <key>spriteSourceSize</key>
                <string>{97,59}</string>
                <key>textureRect</key>
                <string>{{495,0},{97,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,54}</string>
                <key>spriteSourceSize</key>
                <string>{99,54}</string>
                <key>textureRect</key>
                <string>{{396,0},{99,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,81}</string>
                <key>spriteSourceSize</key>
                <string>{103,81}</string>
                <key>textureRect</key>
                <string>{{196,75},{103,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,90}</string>
                <key>spriteSourceSize</key>
                <string>{99,90}</string>
                <key>textureRect</key>
                <string>{{646,75},{99,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,78}</string>
                <key>spriteSourceSize</key>
                <string>{99,78}</string>
                <key>textureRect</key>
                <string>{{97,75},{99,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,198}</string>
                <key>spriteSourceSize</key>
                <string>{243,198}</string>
                <key>textureRect</key>
                <string>{{0,929},{243,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,133}</string>
                <key>spriteSourceSize</key>
                <string>{165,133}</string>
                <key>textureRect</key>
                <string>{{0,408},{165,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,214}</string>
                <key>spriteSourceSize</key>
                <string>{299,214}</string>
                <key>textureRect</key>
                <string>{{545,929},{299,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,91}</string>
                <key>spriteSourceSize</key>
                <string>{148,91}</string>
                <key>textureRect</key>
                <string>{{745,75},{148,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,244}</string>
                <key>spriteSourceSize</key>
                <string>{125,244}</string>
                <key>textureRect</key>
                <string>{{242,1143},{125,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,258}</string>
                <key>spriteSourceSize</key>
                <string>{251,258}</string>
                <key>textureRect</key>
                <string>{{367,1143},{251,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,123}</string>
                <key>spriteSourceSize</key>
                <string>{200,123}</string>
                <key>textureRect</key>
                <string>{{347,275},{200,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,107}</string>
                <key>spriteSourceSize</key>
                <string>{99,107}</string>
                <key>textureRect</key>
                <string>{{692,166},{99,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,212}</string>
                <key>spriteSourceSize</key>
                <string>{302,212}</string>
                <key>textureRect</key>
                <string>{{243,929},{302,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,193}</string>
                <key>spriteSourceSize</key>
                <string>{186,193}</string>
                <key>textureRect</key>
                <string>{{496,734},{186,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,129}</string>
                <key>textureRect</key>
                <string>{{547,275},{200,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SingleRiverLand9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,93}</string>
                <key>spriteSourceSize</key>
                <string>{97,93}</string>
                <key>textureRect</key>
                <string>{{0,166},{97,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>landscape_night.png</string>
            <key>size</key>
            <string>{984,1402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3c2bc93b7347064ca33d5a15d18f4ec:2c57191317b12cc2479f4e6577b17bf9:33a6eb8834823844f474923227b63bf7$</string>
            <key>textureFileName</key>
            <string>landscape_night.png</string>
        </dict>
    </dict>
</plist>
