<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beach1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beach2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{97,0},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beach3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{194,0},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desert1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{291,374},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desert2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{388,374},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desert3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{0,478},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desertGreen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{97,478},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desertGreen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{194,478},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desertGreen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{291,478},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{388,178},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{0,276},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{97,276},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{194,276},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{291,276},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{388,276},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldmine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{388,478},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldmine2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{0,582},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldmine3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{97,582},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldmine4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{194,582},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{291,0},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{388,0},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{0,87},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{97,87},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{194,87},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,87}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{291,87},{97,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{291,582},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{388,582},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{0,686},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swamp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{388,87},{97,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swamp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{0,178},{97,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swamp3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{97,178},{97,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{97,103}</string>
                <key>textureRect</key>
                <string>{{0,374},{97,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{97,103}</string>
                <key>textureRect</key>
                <string>{{97,374},{97,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{97,103}</string>
                <key>textureRect</key>
                <string>{{194,374},{97,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{194,178},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{291,178},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LandTiled_night.png</string>
            <key>size</key>
            <string>{485,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e7ec69ecff891b05ff327ee8d7f64e9:a6ea400e6c93df12b90016bca16c1cc7:27a7b781e8f19ddd24f2373b9ec27226$</string>
            <key>textureFileName</key>
            <string>LandTiled_night.png</string>
        </dict>
    </dict>
</plist>
