<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beach1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beach2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,0},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beach3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,50},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desert1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,50},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desert2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,100},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desert3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,100},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desertGreen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,150},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desertGreen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,150},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desertGreen3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,200},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,200},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,250},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,250},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,300},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,300},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,350},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldmine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,350},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldmine2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,400},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldmine3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,400},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldmine4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,450},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,450},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,500},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,500},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,550},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,550},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,600},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,600},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,650},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,650},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swamp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,700},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swamp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,700},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swamp3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,750},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,750},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,800},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,800},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{0,850},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>volcanic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,50}</string>
                <key>spriteSourceSize</key>
                <string>{97,50}</string>
                <key>textureRect</key>
                <string>{{97,850},{97,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SEKUAI02.png</string>
            <key>size</key>
            <string>{194,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e116468e9d236f3c4faec5eaba0191cb:28a0b4b29ccf72300cf1bab745758c29:503ff0d04c2b05ef9cc7935e449e5036$</string>
            <key>textureFileName</key>
            <string>SEKUAI02.png</string>
        </dict>
    </dict>
</plist>
