/* 此页面用于展示资源的主要页面
 包含：
 - 侧边栏-sider
 - 侧边栏按钮 siderBtn
 - 和侧边栏配合的右侧内容区域 siderRightContent
 */
.sider {
	position: fixed;
	left: 0;
	height: 90%;
	width: 20%;
	margin-left: 0;
	display: block;
	background-color: #a34;
	-moz-transition: margin-left 1s;
	transition: margin-left 1s;
	max-width: 300px;
	top: 10%;
	z-index: 998;
}

.siderSpace {
	position: relative;
  float: left;
	left: 0;
	height: 90%;
	width: 20%;
	margin-left: 0;
	display: block;
	background-color: #a34;
	-moz-transition: margin-left 1s;
	transition: margin-left 1s;
}

.siderBtn {
	position: absolute;
	bottom: 50%;
	left: 100%;
	max-height: 75px;
	min-height: 50px;
	border: 0;
	border-left: 1px solid rgb(23, 32, 43, 0.2);
	background: #AA3344;
	color: #fff;
	cursor: pointer;
}

.siderRightContent{
	/* float: right; */
	position: relative;
	width: 75%;
	display: block;
	-moz-transition: left 1s;
	transition: left 1s;
	top: 15%;
	left: 22%;
}
